body {
  text-align: center;
}

/* Navbar */

#nav{
  background-color: #eff8ff;
}
.navbar-brand {
  margin-left: 10%;
  font-size: 1.9rem !important;
  color: #111d5e;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.navbar-brand:hover{
  color: #394989;
}
.navbar-brand::after{
  content: '';
  display: block;
  background-color: #111d5e;
  width: 0px;
  height: 3px;
  transition: width .3s;
}
.navbar-brand:hover::after{
  width: 100%;
}

.navbar-nav{
  margin-right: 10%;
}
.nav-item {
  font-size: 1.7rem;
  padding: 18px 10px;
  font-weight: bold;
}
.nav-link{
    color: #111d5e;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.nav-link:hover{
  color: #394989;
}
.nav-link::after{
  content: '';
  display: block;
  background-color: #111d5e;
  width: 0px;
  height: 3px;
  transition: width .3s;
}
.nav-link:hover::after{
  width: 100%;
}

/* Mainbody */
p {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  animation-name: text;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  line-height:2;
  }

@keyframes text {
  from {
    color: #fff;
  }

  to {
    color: #394989;
  }
}

.main {
  padding: 5% 2%;
}
img {
  width: 20%;
  height: 25%;
  padding: 2% 2%;
  border-radius: 50%;
  animation-name: img;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
@keyframes img{
  from{
    opacity: 0;
  }
  to{
   opacity: 1.0;
  }
}

.icon {
  padding: 1% 3%;
  color: #bbe1fa;
}

.icon:hover {
  color: #487e95;
}

.foot {
  background-color: #fff;
}


/* Mobile */
@media (max-width:900px) {

  .navbar-brand{
    margin-right: auto;
    margin-left: 1%;
    font-size: 1.7rem !important;
  }
  .nav-item{
   margin-right: auto;
   font-size: 1.1rem;
  }
  p{
    font-size: 1.3rem;
  }
  .main{
    padding-top: 35%;
    padding-bottom: 10%
  }
  img{
    width: 48%;
    height: 58%;
    margin-bottom: 10%;
  }
  .foot{
    margin: 5% 5%;
    padding: 5% 5%;
  }
  .icon{
    padding: 5% 5%;
  }
}
